body{
    background-color: #eeeeee;
    position: relative;
}
.Header{
    width: 100%;
    height: 95vh;
    background-image: linear-gradient(180deg, #969797, #009cfd41 100%), url(multimedia2/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.bg-dark{
    background-color: #393e46 !important;
    position: fixed;
    z-index: 100;
    width: 100%;
}
.bg-dark1{
    background-color: #393e46;
    position: fixed;
    z-index: 100;
    width: 100%;
    border-bottom: 2px solid #fdbb2d;
}
@media (min-width: 768px){
    .bg-dark{
        background-color: transparent !important;
    }
}
.navbar a{
    color: #fff !important;
    font-family: "MuseoModerno";
    text-align: center;
    font-size: 23px;
    padding: 4px 15px;
}

.navbar a:hover{
    background: linear-gradient(160deg, #22c2c3 0%, #fdbb2d 100%);
    border-radius: 5%;
}
.Text-hero{
    height: 550px;
    color: #fff;
    font-family: "Caveat";
    padding-top: 190px;
}

.Text-hero h3,h5{
    font-size: 70px;
    letter-spacing: .2em;
    display: flex;
}

.letra-galeria{
    font-family: "Dancing Script";
color: rgb(0, 0, 0);
font-size: 23px;
text-align: center;
padding: 5px 10px;
border-radius: 5px;
background: linear-gradient(160deg, #22c3c3bb 0%, #fdbb2db0 100%);
}
.Text-hero a{
    font-family: "Dancing Script";
    color: #fff;
    font-size: 23px;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    background: linear-gradient(160deg, #22c3c3bb 0%, #fdbb2db0 100%);
}
.Text-hero a:hover{
    background: linear-gradient(160deg, #22c3c3bb 0%, #fdbb2db0 100%);
}
.svg-hero{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
}

.Perfil{
    background-color: #e8e4e1;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}
.Perfil h1{
    font-family: "MuseoModerno";
    font-size: 50px;
    padding-bottom: 13px;
}
.Perfil h6{
    font-family: "MuseoModerno";
    font-size: 50px;
    padding-bottom: 13px;
}
.Perfil h3{
    font-family: "Caveat";
    font-size: 35px;
    padding-bottom: 13px;
    letter-spacing: 7px;
}
.Perfil p{
    font-family: "Dancing Script";
    font-size: 25px;
    font-weight: 500;
}
.Perfil h7{
    font-family: "Caveat";
    font-size: 35px;
    padding-bottom: 13px;
    letter-spacing: 7px;
}


.Galeria{
    padding-top: 80px;
    padding-bottom: 80px;
    color: #f5f5f5;
    background-color: #393e46;
}

.Galeria h2{
    font-family: "MuseoModerno";
    font-size: 50px;
    padding-bottom: 7px;
}

.Galeria h4{
    font-family: "Dancing Script";
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 10px;
}
.Galeria .col-lg-4{
    margin: 0 !important;
    padding: 3px;
    transition: 0.2s linear;
}

.Galeria .col-lg-4:hover{
    transform: scale(1.05);
    transition: 0.2s linear;
    z-index: 1;
}

.Galeria .row img{
    width: 100%;
    height: 250px;
}

.Contacto{
    padding-top: 80px;
    padding-bottom: 80px;
}
.Contacto h1{
    font-family: "MuseoModerno";
    font-size: 50px;
    padding-bottom: 15px;
}
.Contacto input{
    margin-bottom: 23px;
    border: none;
    border-radius: 0;
    box-shadow: none !important;
    border-bottom: 1px solid #313848;
    margin-right: 10px;
}
.Contacto textarea{
    margin-bottom: 13px;
    border: none;
    border-bottom: 1px solid #313848;
    box-shadow: none !important;
    min-height: 150px;
    max-height: 150px;
    width: 100px;
    resize: vertical;
}
.Contacto a{
    color: #fff;
    font-family: "Dancing Script";
    font-size: 20px;
    padding: 4px 15px;
    text-align: center;
    background: linear-gradient(160deg, #22c3c3bb 0%, #fdbb2db0 100%);
    text-decoration: none;
}
.Contacto a:hover{
    background: linear-gradient(160deg, #22c3c3f6 0%, #fdbb2df1 100%);
}
.Foot{
    background: linear-gradient(160deg, #22c3c3f6 0%, #fdbb2df1 100%);
}
.Foot h4{
    font-family: "MuseoModerno";
    padding: 10px;
    font-size: 27px;
    font-weight: 900;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(160deg, #22c3c3f6 0%, #fdbb2df1 100%);
}

.fab{
    width: 30px;
    text-align: center;
    font-size: 50px;
}
.social{
    position: fixed;
    left: -40px;
    top: 250px;
}
.social ul{
    list-style: none;
}
.social a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    z-index: 0;
    transition: 0.1s ease;
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(14, 12, 12);
    height: auto;
width: 100vw;
font-family: cursive;
padding-top: 40px;
color: rgb(156, 65, 65);
}
.footer-content{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
background: black;
}
.footer-content h4{
font-size: 1.8rem;
font-weight: 400;
text-transform: capitalize;
line-height: 3rem;

}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;

}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
    background-color: black;
}
.socials a{
    text-decoration: none;
    color: rgb(20, 19, 19);
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials hover i{
    color: aqua
}
.footer-bottom{
background: #000;
width: 100vw;
padding: 20px 0;
text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}












